@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">À Maneira - Serviço Takeaway</h1>
    <img src="~/imagens/entrega.png" width="400" /><br />
    <form action="/Pratos/"> <br />
        <input type="submit" value="Ver ementa" class="botao"/>
    </form> <br />
    <p>Trabalho realizado para a cadeira de Desenvolvimento Web de Engenharia Informática</p>
    <p>Pedro Matias nº21089 2021/2022</p>
    <p>Admin: d@d.ipt.pt    Passe: o5lKYjJ</p>
    <p>Cliente: aluno21089@ipt.pt   Passe: o5lKYjJ</p>
</div>
