@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade da AManeira</h1>

<p>A AManeira opera o site https://amaneira.pt, que disponibiliza o SERVIÇO.</p>

<p>Esta página é usada para informar os visitantes do site sobre nossas políticas de coleção, uso e divulgação de Informações Pessoais se alguém decidir usar o nosso Serviço, o site amaneira.pt.</p>

<p>Se você optar por usar o nosso Serviço, concorda com a coleção e o uso de informações relacionadas a esta política. As Informações Pessoais que coletamos são usadas para fornecer e melhorar o Serviço. Não usaremos ou compartilharemos as suas informações com ninguém, exceto conforme descrito nesta Política de Privacidade. Nossa Política de Privacidade foi criada com a ajuda do <a href="https://www.privacypolicytemplate.net/">Gerador de Modelos de Política de Privacidade</a>.</p>

<p>Os termos utilizados nesta Política de Privacidade têm os mesmos significados dos nossos Termos e Condições, que podem ser acessados ​​em https://amaneira.pt, salvo definição em contrário nesta Política de Privacidade.</p>

<h2>Coleta e uso de informações</h2>

<p>Para uma melhor experiência ao usar nosso Serviço, podemos exigir que você nos forneça determinadas informações de identificação pessoal, incluindo, entre outras, seu nome, número de telefone e endereço postal. As informações que coletamos serão usadas para contatá-lo ou identificá-lo.</p>

<h2>Dados de registro</h2>

<p>Queremos informá-lo que sempre que você visita nosso Serviço, coletamos informações que seu navegador nos envia, chamadas de Dados de Log. Esses dados de registro podem incluir informações como o endereço do protocolo de Internet ("IP") do seu computador, a versão do navegador, as páginas do nosso Serviço que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas e outras estatísticas.< /p>

<h2>Cookies</h2>

<p>Cookies são arquivos com pequena quantidade de dados que são comumente usados ​​como um identificador único anônimo. Eles são enviados ao seu navegador a partir do site que você visita e são armazenados no disco rígido do seu computador.</p>

<p>Nosso site usa esses "cookies" para coletar informações e melhorar nosso serviço. Você tem a opção de aceitar ou recusar esses cookies e saber quando um cookie está sendo enviado ao seu computador. Se você optar por recusar nossos cookies, talvez não consiga usar algumas partes do nosso Serviço.</p>

<h2>Provedores de Serviços</h2>

<p>Podemos empregar empresas e indivíduos terceirizados pelos seguintes motivos:</p>

<ul>
    <li>Para facilitar o nosso Serviço;</li>
    <li>Para fornecer o Serviço em nosso nome;</li>
    <li>Para executar serviços relacionados ao Serviço; ou</li>
    <li>Para nos ajudar a analisar como nosso Serviço é usado.</li>
</ul>

<p>Queremos informar aos usuários do nosso Serviço que esses terceiros têm acesso às suas informações pessoais. O motivo é realizar as tarefas atribuídas a eles em nosso nome. No entanto, eles são obrigados a não divulgar ou usar as informações para qualquer outra finalidade.</p>

<h2>Segurança</h2>

<p>Valorizamos sua confiança em nos fornecer suas informações pessoais, portanto, estamos nos esforçando para usar meios comercialmente aceitáveis ​​de protegê-las. Mas lembre-se de que nenhum método de transmissão pela Internet ou método de armazenamento eletrônico é 100% seguro e confiável e não podemos garantir sua segurança absoluta.</p>

<h2>Links para outros sites</h2>

<p>Nosso Serviço pode conter links para outros sites. Se você clicar num link de terceiros, será direcionado para esse site. Observe que esses sites externos não são operados por nós. Portanto, recomendamos que você revise a Política de Privacidade desses sites. Não temos controlo e não assumimos responsabilidade pelo conteúdo, políticas de privacidade ou práticas de sites ou serviços de terceiros.</p>

<p>Privacidade das crianças</p>

<p>Nossos Serviços não atendem a menores de 13 anos. Não coletamos intencionalmente informações de identificação pessoal de crianças menores de 13 anos. No caso de descobrirmos que uma criança menor de 13 anos nos forneceu informações pessoais, excluímos imediatamente essas informações de nossos servidores. Se você é pai ou responsável e sabe que seu filho nos forneceu informações pessoais, entre em contato conosco para que possamos tomar as medidas necessárias.</p>

<h2>Alterações nesta política de privacidade</h2>

<p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Assim, aconselhamos que você revise esta página periodicamente para quaisquer alterações. Notificaremos você sobre quaisquer alterações publicando a nova Política de Privacidade nesta página. Essas alterações entram em vigor imediatamente, após serem publicadas nesta página.</p>

<h2>Fale connosco</h2>

<p>Se você tiver dúvidas ou sugestões sobre nossa Política de Privacidade, não hesite em nos contatar.</p>